<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jo Real State</title>
</head>
<body>
    <form action="/submit" method="POST">
    <label for="street">Street Name: </label>
    <input type="text" id="street" name ="street" required>
    <label for="country">Country:</label>
    <input type="text" id="country" name="country" required>
    <button>submit </button>
</form>
</body>
</html>